{{ define "main" }}
<div class="container-fluid vh-100">
  <h1 class="display-4" onclick="showMap()">{{.Title}}</h1>
  <div class="row ">
    <div class="col-12 col-lg-10">
      <div class="row  ">
        <div class="col-lg-2 col-12 order-2 order-lg-1">
          <h3>List of Booths</h3>
          <ul>
            {{range where .Site.RegularPages "Section" "eq" "booth"}}
            <li>
              <a onclick="loadPage('{{.Page.RelPermalink | safeJS}}')">{{.Page.Title | safeJS}} </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-lg-10 order-1 order-lg-2">
          <div id="map">
            <noscript>
              <a href="booth">click here to go to the list of booths</a>
            </noscript>
          </div>
          <div id="content" style="display:none; min-height: 0"></div>
        </div>
        <div class="col-lg-2 col-12 order-lg-3 invisable"></div>
        <div class="col-12 col-lg-10  p-2 order-3 order-lg-4" id="sponsorRoot">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 mb-5">
      <h3>Featured Booths</h3>
      <div id="templateFeatured" class="card pointer-cursor" style="display: none;">
        <img class="card-img-top">
        <h5 class="card-title"></h5>
      </div>
    </div>
  </div>

</div>

<style>
@media (min-width: 992px) { 
  #map,
  #content {
    height: 760px;
    max-height: 760px;
   }
  }
</style>

<script>
  locations = [
    {{ range where .Site.RegularPages  "Section"  "==" "booth" }}
    {
      name: "{{.Page.Title | safeJS}}",
      link: "{{.Page.RelPermalink | safeJS }}",
      coords: {{.Page.Params.coords | safeJS }},
    {{ range first 1 (where .Params.embeds "type" "eq" "image") }}
    img: "{{.url | safeJS}}",
    alt: "{{.alt | safeJS}}"
      {{ end }}
    },
    {{ end }}
  ]
  sponcers = [
    {{ range where .Site.RegularPages "Section" "==" "sponsors" }}
    {
      name: "{{.Page.Title |safeJS }}",
      image: "{{.Page.Params.image | safeJS }}",
      link: "{{.Page.Params.externalLink | safeJS }}"
    },
    {{end}}
  ]
</script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />

{{$mainImage := resources.Get "images/each.png" }}
{{$mainImage = $mainImage.RelPermalink }}
{{ $mainJs := resources.Get "js/main.js"| js.Build (dict "minify" false "params" (dict "image" $mainImage) "sourceMap" "inline") }}
<script type="module" src="{{ $mainJs.RelPermalink }}"></script>

{{end}}