{{ define "main" }}
<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-12" style="background-color: #2e56a5;">  <!-- https://paletton.com/#uid=33J0u0kpDv4fMHLkZzJurrivXlo -->
      <div class="row" style="justify-content: space-between;">
        <div class="col-6 p-0" style="max-height: 150px;">
          <img class="img-fluid" onclikc="" src="images/MSBSD.png" alt="Matanuska-Susitna Borough School District">
        </div>
        <div class="col-6 p-0" style="max-height: 150px;">
          <img class="img-fluid" src="images/techExpo.png" alt="2021 Mat-Su Tech Expo">
        </div>
      </div>
    </div>
    <div class="col-12" style="height:3vh; background-color: #F8D431; text-align: center;">
      During the next few weeks, we will be posting videos that highlight some of the great things happening in MSBSD schools on their virtual booths below.
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-lg-3 col-12 order-2 order-lg-1">
          <h4 class="subheading">List of Booths</h4>
          <ul>
            {{range where .Site.RegularPages "Section" "eq" "booth"}}
            <li>
              <span class="pointer-cursor" onclick="loadPage('{{.Page.RelPermalink | safeJS}}')">
                {{.Page.Title | safeJS}}
              </span>
          </li>
            {{end}}
          </ul>
          <h4 class="subheading">Proudly Sponsored By</h4>

          <ul>
            
            {{range where .Site.RegularPages "Section" "eq" "sponsors"}}
            <li  >
              <span class="pointer-cursor" onclick="loadPage('{{.Page.RelPermalink | safeJS}}')">
                {{.Page.Title | safeJS}}
              </span>
          </li>
            {{end}}
          </ul>
        </div>
        <div class="col-lg-9 order-1 order-lg-2">
          <div id="map">
            <noscript>
              <a href="booth">click here to go to the list of booths</a>
            </noscript>
          </div>
          <div id="content" style="display:none; min-height: 0">
          
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-12 col-lg-2 mb-5">
      <div id="sponsorRoot">
      </div>
      <h3 class="subheading">Featured Booths</h3>
      <div id="templateFeatured" class="card pointer-cursor" style="display: none;">
        <img class="card-img-top">
        <h5 class="card-title"></h5>
      </div>
    </div>

  </div>

</div>

<style>
@media (min-width: 992px) { 
  #map,
  #content {
    height: 760px;
    max-height: 760px;
   }
  }
</style>

<script>
  eventTitle = "{{.Title | safeJS}}"
  {{ with .Site.GetPage "/main.md" }}
  mainPageRoute = "{{ .Page.RelPermalink }}"
  {{ end }}
  locations = [

    {{ range where .Site.Pages  "Params.coords" "!=" nil }}
    {
      name: "{{.Page.Title | safeJS}}",
      type: "{{.Page.Section | safeJS}}",
      link: "{{.Page.RelPermalink | safeJS }}",
      coords: {{.Page.Params.coords | safeJS }},
      wide: {{default false .Page.Params.wide | safeJS}},
    {{ with .Params.embeds }}
    {{ range first 1 (where . "type" "eq" "image") }}
    img: "{{.url | safeJS}}",
    alt: "{{.alt | safeJS}}"
      {{ end }}
      {{ end }}
    },
    {{ end }}
  ]
  sponcers = [
    {{ range where .Site.RegularPages "Section" "==" "sponsors" }}
    {
      title: "{{.Page.Title |safeJS }}",
      image: "{{.Page.Params.image | safeJS }}",
      coords: {{.Page.Params.coords | safeJS }},
    },
    {{end}}
  ]
</script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />

{{$mainImage := resources.Get "images/each.png" }}
{{$mainImage = $mainImage.RelPermalink }}
{{ $mainJs := resources.Get "js/main.js"| js.Build (dict "minify" false "params" (dict "image" $mainImage) "sourceMap" "inline") }}
<script type="module" src="{{ $mainJs.RelPermalink }}"></script>

{{end}}