<head>
  <title>{{ .Title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.matsuk12.us/cms/lib/AK01000953/Centricity/Domain/1/favicon.ico">

  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  >

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    #title {
      font-family: 'Bebas Neue', sans-serif;
    }

    @font-face {
      font-family: nobel light;
      src: url('{{.Site.BaseURL}}/fonts/nobel-light.ttf');
    }

    .pointer-cursor {
      cursor:pointer;
    }
    .max-height-200 {
      max-height: 200px;
    }

    .subheading {
      font-family: 'Nobel light';
    }

    body { 
      font-family: 'Verdana';
    }
  </style>

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

</head>